*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.top{
	height: 75px;
	width: 1200px;
	margin: auto;
	position: relative;
}
.icon{
	width: 110px;
	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	background-image: url(../imagesForgetPassword/jingling.png);
	background-position: -1px -3px;
}
h1{
	text-align: center;
	font-size: 1.6em;
	margin: 100px auto;
}
.steps{
	height: 80px;
	width: 1200px;
	margin: auto;
	position: relative;
}
.steps>ul{
	height: 12px;
	position: absolute;
	background-color: #CCCCCC;
	width: 80%;
	left: 10%;
	top: 0;
	bottom: 0;
	margin: auto;
}
.step{
	width: 24px;
	height: 24px;
	position: absolute;
	background-color: #CCCCCC;
	top: -6px;
	border-radius: 50%;
}
li.step:first-of-type{
	left: 0;
}
li.step:nth-of-type(3){
	right: 0;
}
li.step:nth-of-type(2){
	left: 0;
	right: 0;
	margin: auto;
}
.step>span:first-of-type{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	display: inline-block;
	text-align: center;
	color: #FFFFFF;
}
.step>span:last-of-type{
	position: absolute;
	top: 30px;
	width: 100px;
	left: -20px;
}
.step:nth-of-type(2)>span:last-of-type{
	left: 0;
}
.step.active{
	background-color: #387AFF;
}
form{
	width: 1200px;
	margin: auto; 
	text-align: center;
	position: relative;
}
form>.put{
	width: 50%;
	margin: auto;
}
.put>label{
	width: 16%;
	text-align: right;
	display: inline-block;
	height: 30;
	margin-right: 4%;
}
.put>input{
	width: 70%;
	display: inline-block;
	height: 36px;
	margin-top: 30px;
	border: 1px solid #E5E5E5;
	border-radius: 2px;
	font-weight: 400;
	padding-left: 10px;
	outline: none;
}
.code{
	height: 36px;
	line-height: 36px;
	position: absolute;
	top: 105px;
	left: 65%;

}
.code>img{
	height: 28px;
}
.code::before{
	content: "|";
	position: absolute;
	left: -6px;
	top: -4px;
	font-size: .9em;
	color: #E5E5E5;
	
}
form>button{
	height: 38px;
	width: 290px;
	border: none;
	margin-top: 50px;
	background-color:#387AFF;
	color: white;
	margin-bottom: 10px;
}
footer{
	box-sizing: border-box;
	height: 131px;
	border: 1px solid #E5E6E7;
	margin-top: 200px;
	
}
.footerMain{
	width: 1200px;
	margin: auto;
	box-sizing: border-box;
	height: 131px;
	padding-top: 40px;
}
.footerLink{
	overflow: hidden;
}
.linkMain{
	width: 430px;
	height: 50px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.linkMain>li{
	float: left;
	height: 36px;
	line-height: 36px;
	text-align: center;
	box-sizing: border-box;
	
}
.linkMain>li:not(:last-of-type)::after{
	content: "|";
}
.linkImg{
	height: 32px;
	overflow: hidden;
	float: right;
	margin-right: 50px;
}
.linkImg>li{
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 10px;
	border-radius: 50%;
	background-image: url(../imagesForgetPassword/jingling.png);
	transition:all .4s;
	cursor: pointer;
}
.linkMain,.footerLink>p{
	float: left;
	margin-right: 20px;
	height: 36px;
	line-height: 36px;
}
.footerLink>p:last-of-type{
	background-color: #387AFF;
	height: 24px;
	line-height: 24px;
	margin-top: 6px;
	color: #ffffff;
	border-radius: 2px;
	width: 120px;
	text-align: center;
	cursor: pointer;
}
.linkImg>li:first-child{
	background-position: 542px -91px ;
}
.linkImg>li:first-child:hover{
	background-position: 542px -137px ;
}
.linkImg>li:nth-child(2){
	background-position: 458px -91px ;
}
.linkImg>li:nth-child(2):hover{
	background-position: 458px -137px ;
}
.linkImg>li:last-child{
	background-position: 416px -91px ;
}
.linkImg>li:last-child:hover{
	background-position: 416px -137px ;
}